.App {
  text-align: center;
}


.button-add {
  padding: 10px 20px;
  background-color: #4CAF50;         /* Màu chính */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-add:hover {
  background-color: #3e8e41;         /* Màu đậm hơn khi hover */
  transform: translateY(-2px);
}

.button-add:active {
  background-color: #66bb6a;         /* Màu nhạt hơn khi click */
  transform: translateY(0);          /* Click thì nhún xuống */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
